# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtualenv
venv/
ENV/
env/

# Flask / SQLite
*.db
instance/
*.sqlite3

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# PyInstaller
dist/
build/
